In [17]:
import pandas as pd
import numpy as np

In [18]:
df_energy = pd.read_csv("./ENERGYDATA.csv")
df_indoor = pd.read_csv("./Indoor Air Quality.csv")
df_outdoor = pd.read_csv("./Outdoor Air Quality.csv")

In [19]:
df_energy['Time Bucket (Asia-Calcutta)'] = pd.to_datetime(df_energy['Time Bucket (Asia-Calcutta)'])
# df_energy['Time Bucket (Asia/Calcutta)'] = pd.to_datetime(df_energy['Time Bucket (Asia/Calcutta)'], format='%m-%d-%Y %H:%M:%S')

In [20]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31274 entries, 0 to 31273
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time Bucket (Asia-Calcutta)  31274 non-null  datetime64[ns]
 1   Computer - kWatts            31274 non-null  float64
 2   Plug Load (kWatts)           31274 non-null  float64
 3   Air Conditioner-kWatts       31274 non-null  float64
 4   light + fan - kWatts         31274 non-null  float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.2 MB

In [21]:
df_energy.head()

,Time Bucket (Asia-Calcutta),Computer - kWatts,Plug Load (kWatts),Air Conditioner-kWatts,light + fan - kWatts
0,2023-02-10 05:45:00,0.0,0.0,0.0,0.0
1,2023-02-10 06:00:00,0.0,0.0,0.0,0.0
2,2023-02-10 06:15:00,0.0,0.0,0.0,0.0
3,2023-02-10 06:30:00,0.0,0.0,0.0,0.0
4,2023-02-10 06:45:00,0.0,0.0,0.0,0.0

In [32]:
df_energy.tail()

,Time Bucket (Asia-Calcutta),Computer - kWatts,Plug Load (kWatts),Air Conditioner-kWatts,light + fan - kWatts
31269,2024-01-01 23:00:00,0.0207,0.0,0.0,0.0
31270,2024-01-01 23:15:00,0.0205,0.0,0.0,0.0
31271,2024-01-01 23:30:00,0.0206,0.0,0.0,0.0
31272,2024-01-01 23:45:00,0.0208,0.0,0.0,0.0
31273,2024-01-02 00:00:00,0.0201,0.0,0.0,0.0

In [33]:
# Specify the start and end datetime
start_datetime = '2023-02-10 05:45:00'
end_datetime = '2024-01-02 00:00:00'

# Generate datetime values with 15-minute increments
datetime_range = pd.date_range(start=start_datetime, end=end_datetime, freq='15T')

# Create a DataFrame with the generated datetime values
df_energy_ideal = pd.DataFrame({'Datetime': datetime_range})

# Display the DataFrame
df_energy_ideal

                 Datetime
0     2023-02-10 05:45:00
1     2023-02-10 06:00:00
2     2023-02-10 06:15:00
3     2023-02-10 06:30:00
4     2023-02-10 06:45:00
...                   ...
31269 2024-01-01 23:00:00
31270 2024-01-01 23:15:00
31271 2024-01-01 23:30:00
31272 2024-01-01 23:45:00
31273 2024-01-02 00:00:00

[31274 rows x 1 columns]

In [34]:
# Merge the original DataFrame with the complete date range DataFrame
df_energy_new = df_energy_ideal.merge(
    df_energy, how='left', on='Datetime', suffixes=('_ideal', '_original'))

# Reset index to have 'datetime' as a regular column
df_energy_new.reset_index(inplace=True)

df_energy_new.drop(columns=['index'], inplace=True)

KeyError: 'Datetime'

In [22]:
df_energy_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38945 entries, 0 to 38944
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        38945 non-null  object
 1   Time                            38945 non-null  object
 2   testo 160 IAQ_51616142 [ppm]    38891 non-null  float64
 3   testo 160 IAQ_51616142 [°C]     38945 non-null  float64
 4   testo 160 IAQ_51616142 [mbar]   38945 non-null  int64
 5   testo 160 IAQ_51616142 [%RH]    38945 non-null  float64
 6   testo 160 IAQ_51616142 [°C td]  38945 non-null  float64
 7   testo 160 IAQ_51616142 [g/m³]   38945 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 2.4+ MB

In [23]:
df_indoor['Datetime'] = pd.to_datetime(df_indoor['Location'] + ' ' + df_indoor['Time'], format='%d-%m-%Y %H:%M:%S')
df_indoor.drop(['Location', 'Time'], axis=1, inplace=True)

df_indoor['testo 160 IAQ_51616142 [mbar]'] = df_indoor['testo 160 IAQ_51616142 [mbar]'].astype(float)

In [24]:
df_indoor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38945 entries, 0 to 38944
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   testo 160 IAQ_51616142 [ppm]    38891 non-null  float64
 1   testo 160 IAQ_51616142 [°C]     38945 non-null  float64
 2   testo 160 IAQ_51616142 [mbar]   38945 non-null  float64
 3   testo 160 IAQ_51616142 [%RH]    38945 non-null  float64
 4   testo 160 IAQ_51616142 [°C td]  38945 non-null  float64
 5   testo 160 IAQ_51616142 [g/m³]   38945 non-null  float64
 6   Datetime                        38945 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.1 MB

In [25]:
df_indoor.head()

,testo 160 IAQ_51616142 [ppm],testo 160 IAQ_51616142 [°C],testo 160 IAQ_51616142 [mbar],testo 160 IAQ_51616142 [%RH],testo 160 IAQ_51616142 [°C td],testo 160 IAQ_51616142 [g/m³],Datetime
0,385.0,21.7,1010.0,63.5,14.5,12.1,2023-01-01 00:00:00
1,387.0,21.7,1010.0,63.7,14.5,12.2,2023-01-01 00:15:00
2,390.0,21.7,1010.0,63.8,14.6,12.2,2023-01-01 00:30:00
3,389.0,21.7,1010.0,63.8,14.6,12.2,2023-01-01 00:45:00
4,391.0,21.7,1010.0,63.8,14.5,12.2,2023-01-01 01:00:00

In [26]:
df_outdoor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31012 entries, 0 to 31011
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Location                                31012 non-null  object
 1   Time                                    31012 non-null  object
 2   testo 160 IAQ_51616135_outdoor [ppm]    30967 non-null  float64
 3   testo 160 IAQ_51616135_outdoor [°C]     31012 non-null  float64
 4   testo 160 IAQ_51616135_outdoor [mbar]   31012 non-null  int64
 5   testo 160 IAQ_51616135_outdoor [%RH]    31012 non-null  float64
 6   testo 160 IAQ_51616135_outdoor [°C td]  31012 non-null  float64
 7   testo 160 IAQ_51616135_outdoor [g/m³]   31012 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.9+ MB

In [29]:
df_outdoor['Datetime'] = pd.to_datetime(df_outdoor['Location'] + ' ' + df_outdoor['Time'], format='%d-%m-%Y %H:%M:%S')
df_outdoor.drop(['Location', 'Time'], axis=1, inplace=True)

df_outdoor['testo 160 IAQ_51616135_outdoor [mbar]'] = df_outdoor['testo 160 IAQ_51616135_outdoor [mbar]'].astype(float)

In [30]:
df_outdoor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31012 entries, 0 to 31011
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   testo 160 IAQ_51616135_outdoor [ppm]    30967 non-null  float64
 1   testo 160 IAQ_51616135_outdoor [°C]     31012 non-null  float64
 2   testo 160 IAQ_51616135_outdoor [mbar]   31012 non-null  float64
 3   testo 160 IAQ_51616135_outdoor [%RH]    31012 non-null  float64
 4   testo 160 IAQ_51616135_outdoor [°C td]  31012 non-null  float64
 5   testo 160 IAQ_51616135_outdoor [g/m³]   31012 non-null  float64
 6   Datetime                                31012 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.7 MB

In [31]:
df_outdoor.head()

,testo 160 IAQ_51616135_outdoor [ppm],testo 160 IAQ_51616135_outdoor [°C],testo 160 IAQ_51616135_outdoor [mbar],testo 160 IAQ_51616135_outdoor [%RH],testo 160 IAQ_51616135_outdoor [°C td],testo 160 IAQ_51616135_outdoor [g/m³],Datetime
0,401.0,22.0,1008.0,48.7,10.7,9.4,2023-02-14 00:00:00
1,399.0,21.8,1008.0,48.1,10.4,9.2,2023-02-14 00:15:00
2,391.0,21.7,1008.0,46.4,9.7,8.9,2023-02-14 00:30:00
3,391.0,21.6,1008.0,45.8,9.5,8.7,2023-02-14 00:45:00
4,389.0,21.5,1008.0,45.2,9.2,8.5,2023-02-14 01:00:00

In [ ]:
df_outdoor.head()

In [ ]:
# Format datetime to include seconds as 'hh:mm:00'
df_energy['Time Bucket (Asia/Calcutta)'] = df_energy['Time Bucket (Asia/Calcutta)'].dt.strftime('%Y-%m-%d %H:%M:00')

df_energy['Time Bucket (Asia/Calcutta)'] = pd.to_datetime(df_energy['Time Bucket (Asia/Calcutta)'])

df_energy['Computer - kWatts'] = df_energy['Computer - kWatts'].astype(float)
df_energy['light + fan - kWatts'] = df_energy['light + fan - kWatts'].astype(float)

In [ ]:
df_energy.info()